@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body {
  background: #191919;
  color: #ff0;
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}

h1, p {
  text-align: center;
}

h1 {
  font-size: 3.5rem;
}

svg {
  width: 500px;
  height: 700px;
  border-radius: 50px;

  path {
    transition-duration: 5s;
    transition-property: d;

    &#dark {
      fill: #000;
    }

    &#light {
      fill: #ff0;
    }
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 762px) {
  h1 {
    font-size: 2.3rem;
  }

  svg {
    width: 350px;
    height: 450px;
  }
}
